/target/
/.classpath
/.project
/.settings/
/Jfx3dViewerApp_session.properties
**/.DS_Store
**/.idea
**/.serena


# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
